<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="userDao" class="com.hellojava.dao.impl.UserDao"></bean>
	
	<bean id="userDao1" class="com.hellojava.dao.impl.UserDao1"></bean>
	 
	<bean id="userService" class="com.hellojava.business.impl.UserService">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="userService1" class="com.hellojava.business.impl.UserService1">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
</beans>
